$bg-color: #fff;
$text-color: #222;
$app-drawer-color: #5f6368;
$app-drawer-color-hover: #3c404314;
$search-svg-color: #9aa0a6;
$btn-bg-color: #f8f9fa;
$language-link-color: #1a0dab;
$footer-bg-color: #f2f2f2;
$footer-fg-color: #70757a;
