.sec-4 {
  margin-bottom: 24px;
  text-align: center;
  flex-grow: 1;

  .language-links {
    display: inline-block;
    line-height: 28px;
    a {
      color: $language-link-color;
      padding: 0 3px;
    }
  }
}
