@import 'config';
@import 'sec1';
@import 'sec2';
@import 'sec3';
@import 'sec4';
@import 'sec5';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $bg-color;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: $text-color;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
